.container-contact{
    padding: 1rem;
}
.container-contact h2{
    margin-bottom: 1rem;

}
.container-contact p{
    margin-bottom: 1rem;
}
.container-contact ul{
    list-style: none;
}
.container-contact ul li{
    margin-bottom: 0.5rem;
}